@import './Utilities/config';


main{
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    
    
    div.container{
        display: flex;
    }

    div.profile{
        margin-top: 50px;
        
        h3{
            font-size: 3rem;
            margin: 10px 0px ;
        }

        p{
            width: 60%;
            text-align: justify;
        }

        div.logos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            i{
                font-size: 35px;
                margin: 15px 0px;
            }
        }
    }
    

    div.image{
        margin-top:  100px;
        position: relative;

        div.color-container{
            position: relative;
            width: 400px;
            height: 400px;
            padding: 20px;
            background: rgba($primary-color, .9);
            border-radius: 50%;
        }

        div.image-container{
            position: absolute!important;
            top: -60px;
            left: -100px;
            background: $secondary-color;
        }

        div.image-on{
            position: absolute!important;
            width: 380px!important;
            height: 380px!important;
            top: -60px;
            left: -100px;
            background-image: url('../img/viceo.jpeg');
            background-size: contain;
        }
    }
}

@import './Utilities/media/about';