@import './config';

div#app{
    display: flex!important;
    width: 90%;
    margin: 0px  auto;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;

    div.contain{
        width: 100%!important;

        h1.title{
            font-size: 2.5rem;
        }

        div#star{
            margin: 20px auto;
            i.fas{
                font-size: 1.5rem;
            }
        }

        a#play{
            width: fit-content;
            padding: 10px 20px;
            background: $primary-color;
            border-radius: 5px;
            margin: 10px 0px;
            color: $light-color!important;
            cursor: pointer;
        }

        p.desc{
            margin-top: 40px;
            color: #b8bcbd;
        }
    }


}

    section.movie-block{
        margin: 40px 20px;
    }

@import './media/index';
