@media screen and (min-width: 768px){
    header.mobile{
        display: none;
    }

    header.desktop{
        display: block;

        nav{
            width: 80%!important;
    
            ul{
                display: inline-flex;
                justify-content: space-between;
            }
    
            li{
                margin: 0px 10px;
                font-weight: bold;
            }
        }
    }

    div.search_form{
        div.container{
            width: 40%!important;
        }
    }
}